@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<div class="text-center">
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Publicación</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="TDY">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Edición</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="UTDY">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Medida</label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="">
            </div>

        </div>
        <br />
        <label for="inputEmail4"><strong>Posición</strong></label>
        <div class="form-row">
            <div class="form-group col-md-2">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label>Sin posición</label>
            </div>
            <div class="form-group col-md-6">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label>Sin posición</label>
            </div>
            <div class="form-group col-md-4">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label>Sin posición</label>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">Agencia</label>
                <input type="text" class="form-control" placeholder="WR">
            </div>

            <div class="form-group col-md-2">
                <label for="inputZip">Obs.Crédito</label>
                <input type="text" class="form-control" placeholder="WR">
            </div>

            <div class="form-group col-md-6">
                <label for="inputPassword4">Plaza de Facturación</label>
                <input type="text" class="form-control" id="inputZip">
            </div>

            <div class="form-group col-md-4">
                <label for="inputState">Tipo de producto</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary">Limpiar</button>
            </div>
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>
