
@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>

@section Scripts{
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
                    var Calendar = FullCalendar.Calendar;

                    var calendarEl = document.getElementById('calendar');


                    // initialize the calendar
                    // -----------------------------------------------------------------

                    var calendar = new Calendar(calendarEl, {
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay'
                        },
                        editable: true,
                        droppable: true, // this allows things to be dropped onto the calendar
                    });


                    calendar.on('dateClick', function (info) {
                        var date = new Date(info.dateStr + 'T00:00:00'); // will be in local time
                        var count = 0;
                        if (!isNaN(date.valueOf())) { // valid?


                            calendar.addEvent({
                                id: 2,
                                title: 'Tarea ' + count++,
                                description: 'Descripción',
                                start: date,
                                allDay: true,
                                textColor: "blue",
                                className: 'aaa'
                            });

                        } else {
                            console.log('Invalid date.');
                        }
                        var ez = calendar.getEventById(2);
                        console.log(ez);
                    });

                    calendar.render();
                });

                $(document).click(function () {
                    var obj = $(".fc-daygrid-event-harness");
                    if (!obj.is(event.target) && !obj.has(event.target).length) {
                        console.log(event.target);
                    } else {
                        var ad = event.target;
                        console.log(ad.textContent);
                    }
                });
    </script>
}

<div id='calendar-container'>
    <div id='calendar'></div>
</div>