@{
    ViewBag.Title = "About";
}

<form>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Publicación:</label>
        <div class="form-group col-md-1">
            <input type="text" class="form-control" placeholder="TDY">
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Tribuna del Yaqui">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Edición:</label>
        <div class="form-group col-md-1">
            <input type="text" class="form-control" placeholder="UTDY">
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="Única TDY">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Medida:</label>
        <div class="form-group col-md-1">
            <input type="text" class="form-control" placeholder="">
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Posición:</label>
        <div class="form-group col-md-2">
            <input type="radio" class="form-check-input" name="1" id="exampleCheck1">
            <label>Sin posición</label>
        </div>
        <div class="form-group col-md-2">
            <input type="radio" class="form-check-input" name="1" id="exampleCheck1">
            <label>Sección</label>
        </div>
        <div class="form-group col-md-4">
            <input type="radio" class="form-check-input" name="1" id="exampleCheck1">
            <label>Par o Impar</label>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Color:</label>
        <div class="form-group col-md-1">
            <select id="inputState" class="form-control">
                <option selected>Negro</option>
                <option>Negro</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Giro:</label>
        <div class="form-group col-md-1">
            <input type="text" class="form-control" placeholder="048" />
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="AUTOSERVICIO">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Guía:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Precio Unitario:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" placeholder="0.000">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Descuento:</label>
        <div class="form-group col-md-1">
            <input type="number" class="form-control" placeholder="0.00">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Texto Factura:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Observaciones:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Indicaciones:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <br />
    <div class="form-row">
        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary">Limpiar</button>
        </div>
        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </div>
</form>
