@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Vendedor</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="EMP">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Moneda</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="P">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Cliente</label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="1">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">Anunciante</label>
                <input type="number" class="form-control" id="inputPassword4" placeholder="TB">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputCity">Agencia</label>
                <input type="text" class="form-control" placeholder="WR">
            </div>

            <div class="form-group col-md-2">
                <label for="inputZip">Obs.Crédito</label>
                <input type="text" class="form-control" placeholder="WR">
            </div>

            <div class="form-group col-md-6">
                <label for="inputPassword4">Plaza de Facturación</label>
                <input type="text" class="form-control" id="inputZip">
            </div>

            <div class="form-group col-md-4">
                <label for="inputState">Tipo de producto</label>
                <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                </select>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary">Limpiar</button>
            </div>
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
</div>
